/*  your css code here. If applicable */
.container{
	position: relative;
	display: flex;
	gap:10px;
	flex-wrap: wrap;
}
.panel{
	width:80px;
}
img:active{
	position: absolute;
	font-size: 10px;
	bottom: 1px;
	color: white;
}
